body,html {
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.todo-input {
  outline: none;
  border: 2px solid grey;
  height: 30px;
  width: 300px;
  font-size: 18px;
  padding: 0 5px;
}

.ul-list li {
  list-style-type: none;
  text-align: start;
  width: 300px;
  overflow: hidden;
  position: relative;
}

.ul-list li div {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  right: 5%;
  top: 25%;
  cursor: pointer;
  z-index: 10000;
}